*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

#nav{
  /* border: 2px solid red; */
  height: 100px;
}
#sub-nav{
  /* border: 2px solid; */
  width: 96%;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sub-nav ul>li>img {
  max-width: 45px;
  vertical-align: text-bottom;
}

#left ul {
  list-style-type: none;
  display: flex;
  /* border: 2px solid; */
  display: inline-flex;
  align-items: center;
  width: 690px;
  justify-content: space-between;
  text-transform: capitalize;
}
#left ul li{
  font-size: 16px;
  font-weight: 600;
  color: #2e2e2e;
  padding: 0px 10px;
}

#right ul{
  display: inline-flex;
  /* border: 2px solid; */
  width: 430px;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
#right ul>li>a{
  margin-left: 13px;
  text-decoration: none;
}
#right ul li:nth-child(2) {
  font-size: 22px;
}
#right ul li:nth-child(3) {
  font-size: 22px;
}
#right ul li:nth-child(4)>button {
  padding: 2px 6px;
  font-size: 18px;
  background-color: #2e844a;
  color: white;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
#right ul li:nth-child(4)>button:hover{
  background-color: black;
}
#right ul li:nth-child(4)>button>span{
  padding: 0 5px;
  font-size: 18px;
}
button:hover{
  background-color: black;
}
#right ul li:nth-child(5)>button {
  padding: 2px 6px;
  font-size: 18px;
  background-color: #2e844a;
  color: white;
  border-radius: 4px;
  border: none;
  box-sizing: 0 0 6px 0.9;
  font-weight: bold;
}
#right ul li:nth-child(5)>button:hover{
  background-color: black;
}
#header {
  height: 60px;
  border: 2px solid;
  background-color: #1f0974;
}
#list{
  width: 600px;
  margin: auto;
margin-top: 13px;
}
#list ul {
  display: inline-flex;
  /* border: 2px solid white; */
  list-style: none;
  color: white;
  width: 700px;
  justify-content: center;
  align-items: center;
  height: 30px;
 
}
#list ul li>img{
  max-width: 70px;
}
#list ul li{
  margin: 0px 10px;
  font-size: 20px;
}
#list ul>li:nth-child(3)>a{
  color: white;
}

#main{
  height: 690px;
  /* border: 2px solid red; */
  display: flex;
  
}
#main-left{
  /* border: 2px solid; */
  height: inherit;
  flex: 1;

}
#main-right{
  /* border: 2px solid; */
  height: inherit;
  margin-top: 30px;
  flex: 1;
}
#main-right img{
  height: auto;
  width: 100%;
  vertical-align: auto;
  border: 0;
  
}
#top-section {
  /* border: 2px solid; */
  width: 90%;
  margin: auto;
  margin-top: 80px;
}
#top-section h1{
  color: #032d60;
  font-size: 48px;
  letter-spacing: -0.008em;
  line-height: 48px;
}

#top-section p{
  color: #181818;
  font-size: 20px;
  letter-spacing: -.0012em;
  line-height: 32px;
  margin-top: 16px;
}
#buttons{
  /* border: 2px solid; */
  margin-top: 40px;
  width: 80%;
  /* display: flex;
  justify-content: space-between; */
  margin: auto;
  margin-top: 60px;
}
#buttons #button1 {
  background-color: #0176d3;
  font-size: 16px;
  border-radius: 4px;
  width: 200px;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  color: white;
} 
#buttons #button2{
  font-size: 16px;
  border-radius: 4px;
  width: 200px;
  padding: 10px 20px;
  border: 2px solid #0176d3;
  font-size: 18px;
  color: #0176d3;
  margin-left: 10px;
}
#main1{
  /* border: 2px solid red; */
  height: 700px;
}
.header{
  /* border: 2px solid; */
  width: 80%;
  margin: auto;
  margin-top: 70px;
}
.header h2{
  color: #032d60;
  font-size: 32px;
  letter-spacing: -0.004em;
  line-height: 40px;
  text-align: center;
}
#cards{
  /* border: 2px solid; */
  width: 98%;
  margin: auto;
  height: 420px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.card{
  /* border: 2px solid red; */
  width: 300px;
  height: 98%;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card .top, .bottom{
  /* border: 1px solid; */
  height: 50%;
}
.top{
  text-align: center;
  /* padding: 20px; */
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.top img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.bottom {
  border-radius: 0 0 16px 16px;
}
.bottom h3{
  color: #032d60;
  font-size: 20px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 0;
  letter-spacing: -.004em;
  margin-left: 15px;
}
.bottom p{
  color: #181818;
  font-size: 16px;
  letter-spacing: -.0012em;
  line-height: 24px;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.bottom a{
  display: block;
  margin-left: 15px;
  margin-top: 24px;
  color: #032d60;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
#button button{
  display: block;
  width: 300px;
  margin: auto;
  margin-top: 70px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius:6px;
  color: #181818;
  font-weight: bold;
  border: 2px solid #3a7cce;
  background-color: white;
}
#button button:hover{
  background-color: azure;
}

#main2{
  /* border: 2px solid; */
  height: 450px;
}
#main2 section{
  /* border: 2px solid; */
  width: 60%;
  height: 80%;
  margin: auto;
  margin-top: 40px;
}
#main2 header {
  /* border: 2px solid; */
  width: 600px;
  margin: auto;
  margin-top: 50px;
}
header h2{
  color: #032d60;
  font-size: 30px;
  letter-spacing: -0.008em;
  text-align: center;
  line-height: 48px;
}
#main2 article{
  /* border: 2px solid; */
  width: 400px;
  margin: auto;
  margin-top: 10px;
}
article p{
  color: #181818;
  font-size: 18px;
  letter-spacing: -.0012em;
  line-height: 28px;
  margin-top: 18px;
  text-align: center;
}

#main2 #buttons{
  /* border: 2px solid; */
  width: 60%;
  text-align: center;
}
#main2 button{
  padding: 10px 20px;
  margin: 0px 10px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  font-weight: bold;
  width: 200px;
}

#main2 #buttons button:first-child{
  background-color: #0176d3;
  border: none;
}
#main2 #buttons button:first-child:hover{
  background-color: #032d60;
  color: white;
}
#main2 #buttons button:last-child{
  background-color: #fff;
  border: solid #0176d3;
}
#main2 #buttons button:last-child:hover{
  background-color: #d9e2ed;
}

#main3{
  height: 400px;
  /* border: 2px solid red; */
  width: 100%;
}
#main3 section{
  /* border: 2px solid; */
  width: 60%;
  height: 80%;
  margin: auto;
  margin-top: 40px;
}
#main3 header {
  /* border: 2px solid; */
  width: 600px;
  margin: auto;
  margin-top: 50px;
}
#main3 article{
  /* border: 2px solid; */
  width: 400px;
  margin: auto;
  margin-top: 10px;
}
#main3 header h2{
  color: #032d60;
  font-size: 32px;
  letter-spacing: -0.004em;
  line-height: 40px;
  font-weight: 500;
}
article p{
  color: #181818;
  font-size: 18px;
  letter-spacing: -.0012em;
  line-height: 28px;
  margin-top: 18px;
  text-align: center;
}
#main3 #buttons{
  /* border: 2px solid; */
  width: 60%;
  text-align: center;
}
#main3 button{
  padding: 10px 20px;
  margin: 0px 10px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  font-weight: bold;
  width: 200px;
  background-color: #fff;
  border: solid #0176d3;
}
#main3 button:hover{
  background-color: #032d60;
  color: white;
}
#section {
  /* border: 2px solid; */
  height: 600px;
}
#section section {
  /* border: 2px solid; */
  width: 70%;
  height: 95%;
  margin: auto;
  margin-top: 30px;
}
#section section #buttons{
  width: 60%;
  text-align: center;
}
#section section #buttons button{
  padding: 10px 20px;
  margin: 0px 10px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  font-weight: bold;
  width: 200px;
  background-color: #fff;
  border: solid #0176d3;
}
#section section #buttons button:hover{
  background-color: #032d60;
  color: white;
  border: none;
}
.logo-grid{
  /* border: 2px solid; */
  height: 250px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
}
.logo-card{
  /* border: 2px solid; */
  height: 74px;
  width: 144px;
  border-radius: 8px;
  box-shadow: 0 2px 8px -2px hsla(0,0%,9%,.08), 0 8px 12px -2px hsla(0,0%,9%,.16);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.logo-card img{
  max-height: 68px;
  max-width: 124px;
  object-fit: contain;
}
 #big-card{
  /* border: 2px solid; */
  height: 550px;
  width: 90%;
 margin: auto;
 margin-bottom: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
} 

.inner-card{
  /* border: 2px solid; */
  width: 95%;
  border-radius: 8px;
  box-shadow: 0 2px 8px -2px hsla(0,0%,9%,.08), 0 8px 12px -2px hsla(0,0%,9%,.16);
  height: 95%;
  display: flex;
  align-items: center;
  
}
.inner-card>div{
  height: inherit;
  width: 50%;
  /* border: 2px solid; */
}
.inner-card .left h1{
  padding: 50px 0 0px 40px;
  color: #032d60;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.004em;
}
.inner-card .left .buttons{
  /* border: 2px solid; */
  width: 210px;
  height: 150px;
  margin: auto;
  margin-top: 40px;
}
.inner-card .left button {
  width: 60%;
  text-align: center;
  padding: 10px 20px;
  margin: 0px 10px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  font-weight: bold;
  width: 200px;
  margin: auto;
}
.inner-card .left button:nth-of-type(1){
  background-color: #032d60;
  color: white;
  margin: 15px 0px;
  
}
.inner-card .left button:nth-of-type(2){
  background-color: #fff;
  border: solid #0176d3;
}
.inner-card .right img{
  height: auto;
  width: 100%;
  vertical-align: middle;
}